.header {
 display: flex;
 gap: 10px;
 justify-self: center;


}

h1{
    color:black;
}
 .title{
    text-align: center;
 }

 .date{
    text-align: center;
 }

.subtitle {
    text-align: center;
    color: gray;
}