body {
  margin: 0;
  padding: 0;
}

.App {
  background-image: url("/background-desktop.png");
  background-size: cover;
 

  position: relative;
}



.circle {
  position: absolute;
  top: -100px;
  left: 30px;
  /* z-index: 20; */
}
.circle-2 {
  position: absolute;
  right: 400px;
  bottom: 700px;
}
.squiggly-top {
  position: absolute;
  right: 2px;
  top: 80px;
}
